@model NBA.Model.Coach

@{
	ViewData["Title"] = "Creating new coach";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-action="Index">Coach list</a></li>
		<li class="breadcrumb-item active" aria-current="page">New coach</li>
	</ol>
</nav>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<partial name="_CreateOrEdit" />
		</form>
	</div>
</div>