html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 150px;
}

h1 {
    margin: 0.5em 0;
    color: #333;
}

p {
    color: #666;
}


section {
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

    section h2 {
        color: #333;
    }

    section p {
        color: #555;
    }

    section a {
        text-decoration: none;
        color: #0067b8;
        font-weight: bold;
    }


.team-row {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

    .team-row:hover {
        opacity: 1;
    }

.team-logo {
    width: 50px;
    height: 50px;
    transition: transform 0.3s, width 0.3s, height 0.3s;
}

.team-row:hover .team-logo {
    transform: scale(2);
}

.table-hover tbody tr:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
}


