@model NBA.Model.Player

@{
	ViewData["Title"] = "Creating new player";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-action="Index">Player list</a></li>
		<li class="breadcrumb-item active" aria-current="page">New player</li>
	</ol>
</nav>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<partial name="_CreateOrEdit" />
		</form>
	</div>
</div>