@model NBA.Model.Game

@{
	ViewData["Title"] = "Creating new Game";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-action="Index">Game list</a></li>
		<li class="breadcrumb-item active" aria-current="page">New Game</li>
	</ol>
</nav>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<partial name="_CreateOrEdit" />
		</form>
	</div>
</div>

<script>
    var homeTeamSelect = document.querySelector('.home-team-select');
    var awayTeamSelect = document.querySelector('.away-team-select');
    var venueSelect = document.querySelector('#VenueID');

    homeTeamSelect.addEventListener('change', function () {
        if (this.value === awayTeamSelect.value) {
            awayTeamSelect.value = '';
        }
    });

    awayTeamSelect.addEventListener('change', function () {
        if (this.value === homeTeamSelect.value) {
            homeTeamSelect.value = '';
        }
    });

    function selectRandomOption(selectElement) {
        var options = selectElement.options;
        var randomIndex = Math.floor(Math.random() * options.length);
        selectElement.selectedIndex = randomIndex;
    }

    window.addEventListener('DOMContentLoaded', function () {
        selectRandomOption(homeTeamSelect);
        selectRandomOption(awayTeamSelect);
        selectRandomOption(venueSelect);
    });
</script>