@using NBA.Model
@model TeamDetailsViewModel

@{
	ViewData["Title"] = "Details";
}

<h2>Details</h2>

@if (Model.Team != null)
{
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a asp-action="Index">Team list</a></li>
			<li class="breadcrumb-item active" aria-current="page">@Model.Team.Name</li>
		</ol>
	</nav>

	<div>
		<h4>Team</h4>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				ID
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Team.ID)
			</dd>
			<dt>
				Full Name
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Team.Name)
			</dd>
			<dt>
				Conference
			</dt>
			<dd>
				@Model?.Team.Conference?.Name
			</dd>
			<dt>
				Venue
			</dt>
			<dd>
				@Model?.Team.Venue?.Name
			</dd>
			<dt>
				Venue City
			</dt>
			<dd>
				@Model?.Team.Venue?.City
			</dd>
			<dt>
				Coach
			</dt>
			<dd>
				@(Model?.Team.Coach?.FullName ?? "No coach yet!")
			</dd>
		</dl>
	</div>

	<div class="row" id="tableContainer">
		<partial name="_DetailsTable" model="Model" />
	</div>

}
else
{
	<div class="alert alert-danger">
		You've selected wrong player ID
	</div>

}

